#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper {
  width: 100%;
}

a[data-toggle=collapse] {
  position: relative;
}

a[data-bs-toggle=collapse] {
  position: relative;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #000;
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
#sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#sidebar .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(180deg);
}
#sidebar a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
#sidebar .h6 {
  color: #fff;
}
#sidebar.active {
  margin-left: -250px;
}
#sidebar.active .custom-menu {
  margin-right: -50px;
}
#sidebar h1 .logo {
  color: #fff;
  background: url(/Content/assets/images/logo-white.svg) no-repeat;
  background-size: contain;
  display: block;
  position: relative;
  width: 40px;
  height: 73px;
}
#sidebar h1 .logo span {
  display: block;
  font-size: 1rem;
  position: relative;
  top: 8px;
  left: 45px;
  width: 100px;
}
#sidebar ul.components {
  padding: 0;
}
#sidebar ul li {
  font-size: 16px;
}
#sidebar ul li > ul {
  margin-left: 10px;
}
#sidebar ul li > ul li {
  font-size: 14px;
}
#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#sidebar ul li a:hover {
  color: #fff;
}
#sidebar ul li.active > a {
  background: transparent;
  color: #fff;
}
@media (max-width: 576) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebar .custom-menu {
    margin-right: -50px !important;
    top: 10px !important;
  }
}
#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#sidebar .custom-menu .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#sidebar .custom-menu .btn.btn-primary {
  background: black;
  border-color: black;
}
#sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
  background: black !important;
  border-color: black !important;
}
