body {
    padding-top: 0;
    padding-bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*********** NOTIFICATIONS & POPUPS  ***********/
#bar-notification {
	display: none;
    position: fixed;
    top: calc((100vh - 110px) / 2);
    left: calc(75vw/2);
    z-index: 1000;
    width: 25vw;
    height: 110px;
    padding: 15px 25px 15px 10px;
    line-height: 16px;
    color: #fff;
    opacity: 0.95;
    padding: 50px;

	&.success {
		background-color: #4bb07a;
	}

	&.error {
		background-color: #e4444c;
	}

	&.warning {
		background-color: #f39c12;
	}

	.content {
		margin: 0 10px 0 0;

		a {
			color: #fff;
			text-decoration: underline;
		}

		.close {
			position: absolute;
			top: 0;
			right: 0;
			width: 32px;
			height: 32px;
			margin: 7px;
			background: #fff url('../images/close.png') center no-repeat;
			cursor: pointer;
		}
	}
}

/*********** LOGIN AND REGISTER  ***********/
.inner form {
	width: 50%;
	padding-top: 36px;
	padding-left: 45px;
	padding-right: 45px;
}
.form-group {
	display: flex;
}

/*******************FIXIES*****************/
body {
	font-size: 14px;
	background-color: #f9f9f9;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	font-weight: 700;
	line-height: 1.2;
	color: #b31f24;
}

h1, h2 {
	margin-top: 0;
}

.btn {
	font-weight: 700;
}

.btn-primary {
	background-color: #b31f24;
	border-color: #b31f24;
}

.form-label {
	font-weight: 700;
}

.card-title {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.rounded-1r {
	border-radius: 1rem !important;
}

.colapse-icon {
	font-weight: 400;
	font-size: 1rem;
	text-decoration: none;
	color: black;
}

a.colapse-icon[aria-expanded=true] .bi.bi-chevron-down {
	display: none;
}

a.colapse-icon[aria-expanded=false] .bi.bi-chevron-up {
	display: none;
}

.navbar-light .navbar-nav .nav-link {
	color: black;
	font-weight: 700;
	font-size: 1.06rem;
}