@model List<TWYK.Web.Models.CategoryModel>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li>
        <a class="dropdown-item" href="@Url.RouteUrl("AllProducts")">All Products</a>
    </li>
    <li>
        <hr class="dropdown-divider" />
    </li>
    @foreach (var item in Model) {
        <li>
            <a class="dropdown-item" href="@Url.RouteUrl("Category", new{categoryId=item.Id})">@item.Name</a>
        </li>
    }
    
</ul>