@model List<TWYK.Web.Models.CategoryModel>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <h2>Categories</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cat in Model) {
            <tr>
                <th scope="row">@cat.Id</th>
                <td style="width: 90%;">@cat.Name</td>
                <td style="text-align: center;"><a href="#" 
                       data-bs-toggle="tooltip" 
                       data-bs-placement="top" 
                       title="Click to Edit"><i class="bi bi-pencil-square"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>