@model List<TWYK.Web.Models.TopicModel>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var topic in Model) {
    <div class="row justify-content-center">
        <div class="row">
            <h2>Best of <strong>@topic.Name</strong> Shoes</h2>
        </div>
        
        <ul>
            @foreach (var chapter in topic.Chapters) {
                <li>@chapter.Name</li>
            }
        </ul>
        
    </div>
}